<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
</div>

<p> <%= link_to 'Fazer logoff [Administrador]', destroy_admin_session_path, method: :delete %> </p>